
<div class="project-list-container">
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
    <project-card></project-card>
</div>