/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 5em;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(10, 10, 10);
    height: 25em;
    color: #fff;
}

.margin-container {
    margin: 50px 0;
}